@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import url(https://fonts.googleapis.com/css?family=Mystery+Quest|Monoton|Roboto:400,700,400italic,300);

$font-title-haight: 'Mystery Quest', cursive;

$font-title-broadway: 'Monoton', cursive;

$font-body: 'Roboto', sans-serif;

html, body, #a {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: $font-body;
    background: #0a0016;
}

.header{
  position: fixed;
  height:80px;
  background:url(../images/nocnoclogo.svg) no-repeat 50% 50%;
  background-size: contain;
  width:100%;
  z-index: 100;
}

.footer{
  text-align: center;
  color: #fff;
}

#a {
    display: table;
}

#b {
    display: table-cell;
    margin: 0;
    padding: 0;

    text-align: center;
    vertical-align: middle;
}

#content {
    width: 100%;
    height: 100px;
    margin: auto;
}

.fullScreen{
  height:100%;
  width:100%;
}

.container{
  padding:0;
}

.nn-home{
  .haightBtn{
    font-family: $font-title-haight;
  }
  .broadwayBtn{
    font-family: $font-title-broadway;
  }
  .haightCol{
    text-align: right;
  }
  .broadwayCol{
    text-align: left;
  }

  button{
    background: none;
    border: none;
    font-size: 60px;
    color:#FFF;
  }

  .homeBG{
    -webkit-filter: brightness(30%); 
    filter: blur(10px);

  }

  .homeBGHover{
    -webkit-filter: brightness(100%); 
        filter: blur(0px);
        -webkit-transition: all 0.5s;
  }
}
